[Unit]
Description=CaioH NVIDIA Control service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/
ExecStart=/usr/local/bin/chnvml control -n "GPU_NAME" -pl 290 -tl 65 -sp "0:50,36:55,40:75,45:100"
Restart=always
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
